*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

html,
body {
  width: 100%;
  max-width: 1440px;
}

body {
  height: 800px;
  background: var(--light-gray);
  font-family: "Karla", sans-serif;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 660px) {
  body {
    height: 856px;
    padding: 72px 32px 62px;
    display: flex;
    justify-content: center;
  }
}
